<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

{% load static %}

<head>
  <!-- Site Title-->
  <title>Sobre nosotros</title>

  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">

  <link rel="icon" href="{% static 'app/images/about_icon.png' %}" type="image/x-icon">

  <!-- Stylesheets-->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,700%7CRoboto:400,500,700">
  <link rel="stylesheet" href="{% static 'app/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}">

  <style>
    .ie-panel {
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
      clear: both;
      text-align: center;
      position: relative;
      z-index: 1;
    }

    html.ie-10 .ie-panel,
    html.lt-ie-10 .ie-panel {
      display: block;
    }
  </style>

</head>

<body>

  <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img
        src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
        alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
  </div>

  <!-- Page Loader-->
  <div class="preloader" id="preloader">
    <div class="page-loader-logo">
      <div class="brand">
        <div class="brand__name"><img src="{% static 'app/images/logo.jpg' %}" alt="" width="190" height="50" />
        </div>
      </div>
    </div>
    <div class="page-loader-body">
      <div id="loadingProgressG">
        <div class="loadingProgressG" id="loadingProgressG_1"></div>
      </div>
    </div>
  </div>

  <!-- Page -->
  <div class="page">
    <header class="page-header section">
      <!-- RD Navbar-->
      <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-creative" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
          data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed"
          data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed"
          data-lg-layout="rd-navbar-fullwidth" data-xl-device-layout="rd-navbar-fullwidth"
          data-xl-layout="rd-navbar-fullwidth" data-xxl-device-layout="rd-navbar-fullwidth"
          data-xxl-layout="rd-navbar-fullwidth" data-stick-up-clone="false" data-md-stick-up-offset="150px"
          data-lg-stick-up-offset="60px" data-md-stick-up="true" data-lg-stick-up="true">
          <div class="rd-navbar-main-outer">
            <div class="rd-navbar-main">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand" href="/">
                    <div class="brand__name"><img src="{% static 'app/images/logo.jpg' %}" alt="" width="190"
                        height="50" />
                    </div>
                  </a></div>
              </div>
              <!-- RD Navbar Nav-->
              <div class="rd-navbar-nav-wrap">
                <div class="rd-navbar-main-item"><a class="button button-xs button-lighter"
                    href="{% url 'login' %}">Suscribirse</a>
                </div>         
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li><a href="{% url 'home' %}">Inicio</a>
                  </li>
                  <li class="active"><a href="{% url 'about-us' %}">Quiénes somos</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <!-- Breadcrumbs -->
    <section class="breadcrumbs-custom bg-image" style="background-image: url({% static 'app/images/about_us.jpg' %});">
      <div class="container">
        <h2 class="breadcrumbs-custom__title">Sobre nosotros</h2>
        <ul class="breadcrumbs-custom__path">
          <li><a href="{% url 'home' %}">Inicio</a></li>
          <li class="active">Quiénes somos</li>
        </ul>
      </div>
    </section>

    <!-- Como empezo todo -->
    <section class="section section-md bg-default">
      <div class="container">
        <div class="row row-70 justify-content-md-center justify-content-xl-between">
          <div class="col-md-10 col-lg-6 col-xl-5">
            <h4>Cómo empezó todo</h4>
            <p>Empezamos siendo un grupo de amigas las cuales soñaban con ayudar a animales callejeros de todo tipo, por
              lo que empezamos vendiendo productos como bandanas, correas e identificaciones hasta lo que somos a día de
              hoy.</p>

            <h4>Nuestra misión</h4>
            <p>Queremos darle la mejor vida posible a nuestras mascotas y a las suyas. Es por eso que dedicamos nuestro
              tiempo en rescatar animales callejeros, y con el dinero recaudado mediante las suscripciones y compra de
              nuestros productos, les damos la mejor vida posible hasta que una familia decida por adoptarlos.</p>
          </div>
          <div class="col-md-10 col-lg-6">
            <div class="row grid-2">
              <div class="col-6"><img src="{% static 'app/images/woman1.jpg' %}" alt="" width="273" height="214" /><img
                  src="{% static 'app/images/woman3.jpg' %}" alt="" width="273" height="214" />
              </div>
              <div class="col-6"><img src="{% static 'app/images/woman2.jpg' %}" alt="" width="273" height="451" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Top Management -->
    <section class="section section-md bg-gray-4">
      <div class="container">
        <!-- Section Header-->
        <div class="section__header">
          <h4>Equipo de trabajo</h4>
          <div class="section__header-element"><a class="link-cta" href="#"></a></div>
        </div>
        <!-- Perfiles del equipo -->
        <div class="row row-30">
          <div class="col-md-6 col-lg-4">
            <!-- Profile creative-->
            <article class="profile-creative">
              <div class="profile-creative__header"><img src="{% static 'app/images/icon1.png' %}" alt="" width="115"
                  height="119" />
              </div>
              <div class="profile-creative__main" data-fixed-height="">
                <p class="profile-creative__title">Millaray Díaz</p>
                <p class="profile-creative__subtitle">Fundadora, CEO</p>
                <div class="profile-creative__element"><a href="mailto:#">m.diaz@fundcog.cl</a></div>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <!-- Profile creative-->
            <article class="profile-creative">
              <div class="profile-creative__header"><img src="{% static 'app/images/icon2.jpg' %}" alt="" width="115"
                  height="119" />
              </div>
              <div class="profile-creative__main" data-fixed-height="">
                <p class="profile-creative__title">Mar Kins</p>
                <p class="profile-creative__subtitle">Marketing</p>
                <div class="profile-creative__element"><a href="mailto:#">m.kins@fundcog.cl</a></div>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-lg-4">
            <!-- Profile creative-->
            <article class="profile-creative">
              <div class="profile-creative__header"><img src="{% static 'app/images/icon3.png' %}" alt="" width="115"
                  height="119" />
              </div>
              <div class="profile-creative__main" data-fixed-height="">
                <p class="profile-creative__title">Jessie Chels</p>
                <p class="profile-creative__subtitle">Recursos Humanos</p>
                <div class="profile-creative__element"><a href="mailto:#">j.chels@fundcog.cl</a></div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer-classic bg-gray-8">
      <div class="container">
        <div class="footer-classic__main">
          <ul class="list-nav-bordered">
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'about-us' %}">Sobre nosotros</a>
            </li>
            <li><a href="{% url 'login' %}">Productos</a></li>
            </li>
          </ul>
        </div>
        <div class="divider"></div>
        <div class="footer-classic__aside">
          <div class="row row-20">
            <div class="col-md-6 text-md-left">
              <!-- Rights-->
              <p class="rights"><span>Fundación Cog</span><span>&nbsp;&copy;&nbsp;</span><span
                  class="copyright-year"></span>. Todos los Derechos Reservados.</p>
            </div>
            <div class="col-md-6 text-md-right">
              <ul class="list-inline-xxs">
                <li>
                  <p>Síguenos</p>
                </li>
                <li><a class="icon icon-xs icon-style-modern fa fa-facebook" href="#"></a></li>
                <li><a class="icon icon-xs icon-style-modern fa fa-twitter" href="#"></a></li>
                <li><a class="icon icon-xs icon-style-modern fa fa-instagram" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <!-- Global Mailform Output -->
  <div class="snackbars" id="form-output-global"></div>
  <!-- Javascript -->
  <script src="{% static 'app/js/core.min.js' %}"></script>
  <script src="{% static 'app/js/script.js' %}"></script>

</body>

</html>