<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

{% load static %}

<head>

    <title>Productos</title>

    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <link rel="icon" href="{% static 'app/images/products_icon.png' %}" type="image/x-icon">

    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css"
        href="//fonts.googleapis.com/css?family=Lato:300,400,700%7CRoboto:400,500,700">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">

    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel,
        html.lt-ie-10 .ie-panel {
            display: block;
        }
    </style>

</head>

<body>

    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img
                src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>

    <!-- Page Loader-->
    <div class="preloader" id="preloader">
        <div class="page-loader-logo">
            <div class="brand">
                <div class="brand__name"><img src="{% static 'app/images/logo.jpg' %}" alt="" width="190" height="50" />
                </div>
            </div>
        </div>
        <div class="page-loader-body">
            <div id="loadingProgressG">
                <div class="loadingProgressG" id="loadingProgressG_1"></div>
            </div>
        </div>
    </div>

    <!-- Page-->
    <div class="page">
        <header class="page-header section">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-creative" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                    data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed"
                    data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed"
                    data-lg-layout="rd-navbar-fullwidth" data-xl-device-layout="rd-navbar-fullwidth"
                    data-xl-layout="rd-navbar-fullwidth" data-xxl-device-layout="rd-navbar-fullwidth"
                    data-xxl-layout="rd-navbar-fullwidth" data-stick-up-clone="false" data-md-stick-up-offset="150px"
                    data-lg-stick-up-offset="60px" data-md-stick-up="true" data-lg-stick-up="true">
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <button class="rd-navbar-toggle"
                                    data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand"><a class="brand" href="{% url 'index-log' %}">
                                        <div class="brand__name"><img src="{% static 'app/images/logo.jpg' %}" alt=""
                                                width="190" height="50" />
                                        </div>
                                    </a></div>
                            </div>
                            <!-- RD Navbar Nav-->
                            <div class="rd-navbar-nav-wrap">
                                <div class="rd-navbar-main-item"><a class="button button-xs button-lighter"
                                        href="{% url 'suscribe' %}">Suscribirse</a>
                                </div>
                                <div class="rd-navbar-main-item"><a class="button button-xs button-lighter mx-4"
                                        href="{% url 'home' %}">Cerrar sesión</a>
                                </div>
                                <!-- RD Navbar Nav-->
                                <ul class="rd-navbar-nav">
                                    <li><a href="{% url 'index-log' %}">Inicio</a>
                                    </li>
                                    {% if perms.app.add_producto %}
                                    <li>
                                        <a href="{% url 'agregar_producto' %}">Agregar producto(s)</a>
                                    </li>
                                    {% endif %}
                                    {% if perms.app.view_producto %}
                                    <li>
                                        <a href="{% url 'listarProductos' %}">Listar producto(s)</a>
                                    </li>
                                    {% endif %}
                                    <li class="active"><a href="">Productos</a>
                                    </li>
                                    <li><a href="{% url 'cart' %}"><i class="icon-sm fa-solid fa-cart-shopping"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <!-- Productos-->
        <section class="section section-md bg-default text-center">
            <div class="container">
                <div class="isotope-wrap isotope-modern-wrap">
                    <!-- Section Header-->
                    <div class="section__header">
                        <h2>Productos</h2>
                        <div class="section__header-element"><a class="link-cta" href="#"></a>
                        </div>
                    </div>
                    <div class="isotope" data-isotope-layout="fitRows" data-isotope-group="products">
                        <div class="row row-offset-2">
                            {% for aux in listaProductos %}
                            <div class="col-6 col-md-4 col-lg-3 isotope-item" data-filter="Category 1">
                                <!-- Product-->
                                <article class="product"> <a class="product__image-wrap" href="#">
                                        {% if aux.imagen %}
                                        <img class="product__image" src="{{ aux.imagen.url }}" alt="" width="210"
                                            height="200" /></a>
                                    {% endif %}
                                    <div class="product__main">
                                        <p class="product__title"><a href="#">{{ aux.nombre }}</a></p>
                                        <p class="product__price mt-2">Valor: {{ aux.precio }}</p>
                                        <p class="product__price">Stock: {{ aux.stock }}</p>
                                    </div>
                                    <div class="product__footer">
                                        <form action="" method="POST">
                                          
                                          {% csrf_token %}
                            
                                          <input type="hidden" name="imagen" id="imagen" value="{{ aux.imagen }}">
                                          <input type="hidden" name="nombre_producto" id="nombre_producto" value="{{ aux.nombre | title }}">
                                          <input type="hidden" name="precio_producto" id="precio_producto" value="{{ aux.precio }}">
                                          <input type="submit" style="cursor: pointer;" class="button button-xs button-gray-2"
                                            value="Agregar al carro">
                                            
                                        </form>
                                      </div>
                                </article>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="footer-classic bg-gray-8">
            <div class="container">
                <div class="footer-classic__main">
                    <ul class="list-nav-bordered">
                        <li><a href="{% url 'index-log' %}">Inicio</a></li>
                        <li><a href="{% url 'about-us' %}">Sobre nosotros</a></li>
                        <li><a href="{% url 'products' %}">Productos</a></li>
                        </li>
                    </ul>
                </div>
                <div class="divider"></div>
                <div class="footer-classic__aside">
                    <div class="row row-20">
                        <div class="col-md-6 text-md-left">
                            <!-- Rights-->
                            <p class="rights"><span>Fundación Cog</span><span>&nbsp;&copy;&nbsp;</span><span
                                    class="copyright-year"></span>. Todos los Derechos Reservados.</p>
                        </div>
                        <div class="col-md-6 text-md-right">
                            <ul class="list-inline-xxs">
                                <li>
                                    <p>Síguenos</p>
                                </li>
                                <li><a class="icon icon-xs icon-style-modern fa fa-facebook" href="#"></a></li>
                                <li><a class="icon icon-xs icon-style-modern fa fa-twitter" href="#"></a></li>
                                <li><a class="icon icon-xs icon-style-modern fa fa-instagram" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="{% static 'app/js/core.min.js' %}"></script>
    <script src="{% static 'app/js/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/b44ff12dcf.js" crossorigin="anonymous"></script>

</body>

</html>